.class {
background: #000
}

.class {
background: #000
}.class {
background: #000
}
.class {
background: #000
}.class {
background: #000
}.class {
background: #000
}.class {
background: #000
}.class {
background: #000
}